body{
    background-color: #6495ED;
}

.menu{
    background-color: #A9A9A9(169,169,169);
    padding: 2%;
}

section{
    margin-top: 2%;
    margin-bottom: 2%;
}

.itens_menu{
    padding-top: 1%;
    line-height: 1.5;
    text-align: center;
    font-size: 1.3em;
}



h1{
    font-size: 2em;
}

h1,h2{
    color: #87CEFA;
    text-align: center;
}

figure{
    text-align: center;
}

.img_topo{
    width: 100%;
}

.img_corpo{
    width: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container{
    width: 80%;
    margin: auto;
}

p{ 
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 25px;
}

.parag_letras > p{
    font-size: 1em;
    text-align: center;
}

.botao{
    width: 130px;
    height: 50px;
    background-color: black;
    color: bisque;
}

.botao p{
    padding-top: 9px;
}

footer{
    background-color: #4169E1;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer P{
    color: aliceblue;
    font-weight: bold;
    font-size: 1em;
}

.center{
    text-align: center;
}