.menu{
    background-color: #A9A9A9(169,169,169);
    padding: 2%;
}

.itens_menu{
    text-align: center;
}

body{
    background-color: #6495ED;
}

h1{
    font-size: 2em;
    padding-top: 1%;
    padding-bottom: 1%;
}

.img_topo{
    width: 100%;
}

.img_corpo{
    width: 40%;
}

.container{
    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
}

p{
    font-size: 1.5em;
    text-align: justify;
    text-indent: 35px;

}

.parag_letras > p{
    font-size: 1em;
    text-align: center;
}

.botao{
    width: 130px;
    height: 50px;
    background-color: black;
    color: bisque;
}

.botao p{
    padding-top: 9px;
}

footer{
    background-color: #4169E1;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer P{
    color: aliceblue;
    font-weight: bold;
    font-size: 1em;
}

.center{
    text-align: center;
}